/** 상단 부분 **/
body.tag-iberia .travel {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
body.tag-iberia .travel h1 {
  color: #5ba4e5;
  font-weight: normal !important;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 0.9em;
}
body.tag-iberia .travel p {
  margin: 0;
  padding: 0;
  color: #888;
  font-family: Open Sans, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  line-height: 0.98em;
}
/** 일차 및 지역(도시) 표시 **/
body.tag-iberia .day {
  width: 30%;
  border-top: 2px solid #eaf2f6;
  border-bottom: 2px solid #eaf2f6;
  float: left;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
body.tag-iberia .day.madrid {
  border-top: 2px solid #c4e427;
  border-bottom: 2px solid #c4e427;
}
body.tag-iberia .day.toledo {
  border-top: 2px solid #5cd7aa;
  border-bottom: 2px solid #5cd7aa;
}
body.tag-iberia .day.fatima {
  border-top: 2px solid #00a758;
  border-bottom: 2px solid #00a758;
}
body.tag-iberia .day.cabo-da-roca {
  border-top: 2px solid #00accf;
  border-bottom: 2px solid #00accf;
}
body.tag-iberia .day.lisboa {
  border-top: 2px solid #407cf3;
  border-bottom: 2px solid #407cf3;
}
body.tag-iberia .day.sevilla {
  border-top: 2px solid #880693;
  border-bottom: 2px solid #880693;
}
body.tag-iberia .day.cordoba {
  border-top: 2px solid #b40044;
  border-bottom: 2px solid #b40044;
}
body.tag-iberia .day.granada {
  border-top: 2px solid #eb131e;
  border-bottom: 2px solid #eb131e;
}
body.tag-iberia .day.barcelona {
  border-top: 2px solid #fbb400;
  border-bottom: 2px solid #fbb400;
}
body.tag-iberia .day.montserrat {
  border-top: 2px solid #7f4c43;
  border-bottom: 2px solid #7f4c43;
}
body.tag-iberia .day p.nth-day {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body.tag-iberia .day p.date {
  display: inline-block;
  font-family: Open Sans, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  margin: 0;
  padding: 0;
}
body.tag-iberia .location {
  border-top: 2px solid #eaf2f6;
  border-bottom: 2px solid #eaf2f6;
  width: 66%;
  background-color: #eaf2f6;
  float: right;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
body.tag-iberia .location.madrid p,
body.tag-iberia .location.toledo p,
body.tag-iberia .location.fatima p,
body.tag-iberia .location.cabo-da-roca p,
body.tag-iberia .location.lisboa p,
body.tag-iberia .location.sevilla p,
body.tag-iberia .location.cordoba p,
body.tag-iberia .location.granada p,
body.tag-iberia .location.barcelona p,
body.tag-iberia .location.montserrat p {
  color: white;
}
body.tag-iberia .location.madrid {
  border-top: 2px solid #c4e427;
  border-bottom: 2px solid #c4e427;
  background-color: #c4e427;
}
body.tag-iberia .location.toledo {
  border-top: 2px solid #5cd7aa;
  border-bottom: 2px solid #5cd7aa;
  background-color: #5cd7aa;
}
body.tag-iberia .location.fatima {
  border-top: 2px solid #00a758;
  border-bottom: 2px solid #00a758;
  background-color: #00a758;
}
body.tag-iberia .location.cabo-da-roca {
  border-top: 2px solid #00accf;
  border-bottom: 2px solid #00accf;
  background-color: #00accf;
}
body.tag-iberia .location.lisboa {
  border-top: 2px solid #407cf3;
  border-bottom: 2px solid #407cf3;
  background-color: #407cf3;
}
body.tag-iberia .location.sevilla {
  border-top: 2px solid #880693;
  border-bottom: 2px solid #880693;
  background-color: #880693;
}
body.tag-iberia .location.cordoba {
  border-top: 2px solid #b40044;
  border-bottom: 2px solid #b40044;
  background-color: #b40044;
}
body.tag-iberia .location.granada {
  border-top: 2px solid #eb131e;
  border-bottom: 2px solid #eb131e;
  background-color: #eb131e;
}
body.tag-iberia .location.barcelona {
  border-top: 2px solid #fbb400;
  border-bottom: 2px solid #fbb400;
  background-color: #fbb400;
}
body.tag-iberia .location.montserrat {
  border-top: 2px solid #7f4c43;
  border-bottom: 2px solid #7f4c43;
  background-color: #7f4c43;
}
body.tag-iberia .location p.spanish {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body.tag-iberia .location p.korean {
  display: inline-block;
  font-family: Open Sans, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
body.tag-iberia .day {
  float: none;
  margin-right: 0;
  width: auto;
  height: auto;
  border-bottom: none;
  padding: 5px 0;
  }
body.tag-iberia .location {
  float: none;
  margin-left: 0;
  width: auto;
  height: auto;
  }
}
/** 일정표 **/
/* 표의 홀수번째 행을 회색으로 표시하지 않도록 설정 */
body.tag-iberia table tbody > tr:nth-child(odd) > td,
body.tag-iberia table tbody > tr:nth-child(odd) > th {
    background-color: transparent;
}
/* 일정표 서식 */
body.tag-iberia .calendar {
  width: 100%;
  border: none;
  border-spacing: 0;
}
body.tag-iberia .calendar th, 
body.tag-iberia .calendar td {
  width: 14%;
  border-bottom: 1px solid #eaf2f6;
  box-sizing: border-box;
}
body.tag-iberia .calendar th {
  text-align: center;
  border-bottom: 2px solid #eaf2f6;
  font-weight: 900;
  line-height: 1em;
  padding: 2px 0 5px 0;
}
body.tag-iberia .calendar td {
  padding: 5px 0;
  min-height: 30px;
  vertical-align: top;
}
body.tag-iberia .calendar td.disabled span.date, 
body.tag-iberia .calendar td.disabled p {
  color: #888;
}
body.tag-iberia .calendar td div {
  padding: 0 1px;
  min-height: 80px;
}
body.tag-iberia .calendar td:last-child div {
  border-right: none;
}
body.tag-iberia .calendar td span.date {
  display: block;
  font-size: 80%;
  line-height: 1em;
}
body.tag-iberia .calendar td p.area {
  padding: 1px 2px;
  text-align: center;
  font-size: 0.8em;
  background: #eaf2f6;
  line-height: 1em;
  margin: 3px 0 5px 0;
}
body.tag-iberia .calendar td p {
  padding: 0;
  margin: 0;
  line-height: 1em;
}
body.tag-iberia .calendar td a {
  background: #5ba4e5;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  float: left;
  border-bottom: none;
  font-size: 80%;
  font-weight: bold;
  text-decoration: none;
}
body.tag-iberia .calendar td a.madrid {
  background: #c4e427;
}
body.tag-iberia .calendar td a.toledo {
  background: #5cd7aa;
}
body.tag-iberia .calendar td a.fatima {
  background: #00a758;
}
body.tag-iberia .calendar td a.cabo-da-roca {
  background: #00accf;
}
body.tag-iberia .calendar td a.lisboa {
  background: #407cf3;
}
body.tag-iberia .calendar td a.sevilla {
  background: #880693;
}
body.tag-iberia .calendar td a.cordoba {
  background: #b40044;
}
body.tag-iberia .calendar td a.granada {
  background: #eb131e;
}
body.tag-iberia .calendar td a.barcelona {
  background: #fbb400;
}
body.tag-iberia .calendar td a.montserrat {
  background: #7f4c43;
}
body.tag-iberia .calendar td a:hover {
  background: #1a1813;
  border-bottom: none;
}
@media only screen and (max-width: 480px) {
  body.tag-iberia .calendar {
    font-size: 0.5em;
  }
  body.tag-iberia .calendar td a {
    border-radius: 4px;
  }
}
/** 글 목록 **/
body.tag-iberia ol.list {
  color: #5ba4e5;
  font-weight: bold;
}
body.tag-iberia ol.list li .list-item {
  color: #3a4145;
  font-weight: normal;
}
